@charset "UTF-8";
#linksSection { display:block; overflow:hidden;background-color: #fff;padding: 20px;margin-bottom:1em; }
#linksSection p { margin-top:0; }
#linksSection .button { display: block; text-align: center;height:auto;padding: 10px;line-height: 1.2em; }
