@charset "utf-8";
// @import "compass";

/****************************************************************/
/* Lightning Outer Area All Skin outer style
/****************************************************************/

$border_primary : 1px solid #e5e5e5;
$color_font_default : #464646;
$color_key : #337ab7;

/*-------------------------------------------*/
/* .navSection
/*-------------------------------------------*/
/* .siteHeader
/*-------------------------------------------*/
/* nav
/*-------------------------------------------*/
/* .page-header
/*-------------------------------------------*/
/* .breadSection
/*-------------------------------------------*/
/* .siteContent
/*      .mainSection
/*      .media(bootstrap)
/*-------------------------------------------*/
/* .pagination
/*-------------------------------------------*/
/* .page-link
/*-------------------------------------------*/
/* .pager
/*-------------------------------------------*/
/* .site-sub
/*-------------------------------------------*/
/* Widget
/*-------------------------------------------*/
/* footer
/*-------------------------------------------*/

/*-------------------------------------------*/
/* .archive
/*-------------------------------------------*/
/* single
/*-------------------------------------------*/
/* .comments-area
/*-------------------------------------------*/
/* search
/*-------------------------------------------*/

// Not allowed Theme check
// @media screen and (max-width: 600px){
// #wpadminbar { position: fixed; }
// }
html, body { overflow-x: hidden; }
.sectionBox { padding-top:2em;padding-bottom:2em;display:block; }
.sectionBox:after {
    content: "";
    clear: both;
    display: block;
}
.nav li a { color:$color_font_default; }
.nav>li>a:focus, 
.nav>li>a:hover{ background-color: rgba(0,0,0,0.03);}
.btn-default { background: none;color:$color_key;border-color: $color_key; }
.btn-default:focus,
.btn-default:hover { background-color: $color_key;color:#fff;border-color: $color_key; }
.screen-reader-text { display: none; }
input.form-control { margin-bottom:3px; }
input.form-control.input_widthAuto { width: auto; }

/*-------------------------------------------*/
/* .navSection
/*-------------------------------------------*/
@media (max-width: 991px){
  .menuBtn { position:absolute;top:0; z-index: 2000;margin:8px; padding:4px 8px;
    &.btn-default { border-color: #999;color:#999; }
    &.btn-default:hover { border-color: #fff;color:#fff; }
    &.menuBtn_right { right:0px; }
  }
} // @media (max-width: 991px){
@media (min-width: 992px){
  .menuBtn,
  .navSection,
  .navSection .searchform { display: none; }
}

/*-------------------------------------------*/
/* .siteHeader
/*-------------------------------------------*/
.siteHeader { width:100%;z-index:1000;top:0;background-color: #fff;box-shadow:0px 1px 3px rgba(0,0,0,0.1);margin-bottom:0;min-height:46px;
	border:none;
  &.navbar { border-radius: 0; }
  .container { padding-top:5px;padding-bottom:4px; }
}
.navbar-brand { height:auto;padding:5px 0;margin:0;font-size: 32px;line-height: 1.5em;
  a { color:#333; }
  a:hover { text-decoration: none; color:$color_key; }
  img { max-height: 40px;display: block; }
}

@media (max-width: 991px){
.navbar-header { float:none; } /* (max-width: 991px) の外に出すと初期設定のfloat:leftに負ける */
.navbar-brand { float:inherit; text-align: center;padding:0 45px; }
.navbar-brand img { display: block ; margin:0 auto; }
}
@media (min-width: 992px){
.siteHeader .container { padding-top:20px;padding-bottom:18px; }
.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand { margin-left:0; }
.navbar-header { float:left; }
.navbar-brand img { max-height: 50px; }
} // @media (min-width: 992px) {

/*-------------------------------------------*/
/* nav
/*-------------------------------------------*/
nav { font-size:14px;
  ul { margin-top:0; }
  li { margin-bottom:0; }
  i { margin-right:0.5rem; }
}

ul.gMenu {
  a { display:block; overflow:hidden;text-decoration: none; }
  ul { padding-left:0;width:auto;display: block;margin-bottom:0;
    li { list-style-type: none;
        a { display:block; overflow:hidden;padding: 10px 1em 10px 2em;width:auto; }
        li a { padding-left:3em; }
        li li a { padding-left:4em; }
        li li li a { padding-left:5em; }
    } // li
  } // ul.sub-menu {
} // ul.gMenu

.gMenu_name { font-weight: normal; }
.gMenu_description { display:block; overflow:hidden;font-size:10px; line-height: 14px; }

@media (max-width: 991px){
  .gMenu_outer { overflow:scroll;display: none; height: 20em;}
  .gMenu_outer.itemOpen { display: block; }
  .gMenu_outer.itemClose { display: none; }
  .gMenu_description { display: none; }
  ul.gMenu { margin-bottom:0;
    a:hover,
    a:active,
    .current-menu-item > a { background-color:rgba(255,255,255,0.1); }
  }

}
@media (min-width: 992px){
.gMenu_outer.itemOpen,
.gMenu_outer.itemClose { display: block; }
.gMenu_name { text-align: center;display: block; }
.gMenu_description { text-align: center; }
ul.gMenu {
  & >li { position: relative;float:left;
    & > a { border-bottom:none; }
  }
} // ul.gMenu
// sub-menu
/*
幅が異なる第一階層のメニューの中心にサブメニューを表示させる
まずは第一階層のメニューの中心が left:50%; なので、ここを基準にサブメニューを配置
サブメニューの幅は240px固定とした場合、その分 サブメニューの li に対して半分の 120px 左にずらす事で、サブメニューが中心になる。
但し、この状態だと ul.sub-menu は第一階層の中心から右側に240pxなので、見えているサブメニューの右側に120px分存在しており、
ここもhover対象となってしまうため、.sub-menu の幅は本来の240pxの半分の 120px が指定してある。
このままだと、孫メニューも子メニューの中心からスタートしてしまうので、右側にずらすため240pxで指定している。
 */
ul.gMenu > li > ul.sub-menu { display:none;position: absolute;z-index: 1000;left:50%;width:120px;
  li {
		width:240px;left:-120px;margin:0;display:block; overflow:visible; position: relative;
		list-style: none;
		box-shadow:1px 1px 3px rgba(0,0,0,0.2);
    ul { margin-bottom:0;display:none;position: absolute;left:240px;top:0.8em;
			li { left:0; }
		}
    a { padding-left:1.5em; }
  }
}
ul.gMenu > li:hover > ul.sub-menu { display: block; }
ul.gMenu > li li:hover > ul.sub-menu { display: block; }
} // @media (min-width: 992px){

/*-------------------------------------------*/
/* .page-header
/*-------------------------------------------*/
.page-header { margin-top:0;margin-bottom:0;padding-bottom:0; }
.page-header_pageTitle,
h1.page-header_pageTitle:first-child { margin:15px 0 10px;font-size:22px;line-height: 1.1; }
@media (min-width: 992px){
  .page-header_pageTitle,
  h1.page-header_pageTitle:first-child { margin:30px 0 25px;font-size:32px; }
}
/*-------------------------------------------*/
/* .breadSection
/*-------------------------------------------*/
.breadSection { border-bottom:$border_primary;
  .breadcrumb { margin-top:0;margin-bottom:0;background:none;
    & > li + li:before { content:">" }
    li { margin-bottom:0;list-style: none;}
	  span { font-size: 0.75em; }
  }
}

/*      .mainSection
/*-------------------------------------------*/
$section_margin_bottom:25px;
.mainSection {
  header { position: relative;border-bottom:$border_primary; }
  header h1 { margin-top:0; line-height: 1.4em; }
  .postList { margin-bottom:$section_margin_bottom; }
	// Media Posts 1st image Feature measures
	.postList::after { content: "";clear: both;display: block; }
}
h1.mainSection-title { font-size:24px; }
h1.mainSection-title i { margin-right:8px; }
h1.entry-title { font-size:32px; }
.mainSection .widget { margin-bottom:$section_margin_bottom; }
.entry-meta { margin-bottom:0.8em;padding-left:3px;
  i { margin-right:5px; }
}
.entry-meta_items { font-size:12px; }
.entry-meta_items.published a { color:$color_font_default; }
.entry-meta_items_author { margin-left:0.8em; }
.entry-meta_items_term { float:right;margin-right:0; }
.entry-meta_hidden { display: none; }

.fa_v4 {
	.entry-meta_items.published::before { margin-right:5px;font-family:FontAwesome;content:"\f073"; }
	.entry-meta_items_author::before { margin-right:5px;font-family:FontAwesome;content:"\f040"; }
}
.fa_v5_css {
	.entry-meta_items.published::before { margin-right:5px;font-family:"Font Awesome 5 Free";content:"\f073";font-weight: 900;}
	.entry-meta_items_author::before { margin-right:5px;font-family:"Font Awesome 5 Free";content:"\f303";font-weight: 900;}
}

.entry-body { padding:1em 0 1.5em; }

.entry-body::after { content: "";clear: both;display: block; }
.page .entry-body {padding-top:0; }

@media (max-width: 767px){
.entry-meta {
  .entry-meta_items_term { float:none;display: block;margin-top:0.5em; }
}
h1.entry-title { font-size:26px; }
}// @media (max-width: 767px){
@media (min-width: 768px){
.mainSection .widget { margin-bottom:35px; }
  .entry-meta_items { font-size:14px; }
  .entry-body,
  .widget .entry-body { padding:2em 0 2.5em; }
} // @media (min-width: 768px){




/*      .entry-footer
/*-------------------------------------------*/
.entry-footer { display:block; overflow:hidden;margin-bottom:2em; }
.entry-meta-dataList { display:block; overflow:hidden;padding-top:3px;
  dl { margin:0 0 2px; }
  dt,dd { display:block; overflow:hidden;margin-bottom:0; }
  dt { float:left;background-color: #666;color:#fff; font-size:10px; line-height: 1.1em;padding: 4px 8px;font-weight:lighter;margin-right:10px;border:none; }
  dd { font-size:12px;border:none;padding-left:0;
    a {  display:inline-block;padding: 3px 2px 1px; }
  }
} // .entry-meta-dataList

.entry-tag { display:block; overflow:hidden;
  dl { margin-bottom:0; }
}

/*      .tagcloud
/*-------------------------------------------*/
.tagcloud {
  a { color:$color_font_default;margin-bottom:4px; white-space: nowrap;
      &:before { margin-right:5px; }
      &:hover { text-decoration: none; opacity: 0.6; }
    }
}
.entry-meta-dataList .tagcloud {
  a { margin-right:8px; }
}

/*      .media(bootstrap)
/*-------------------------------------------*/
.media { border-bottom:$border_primary;padding:2em 0;margin-top:0;
  &:first-child { border-top:$border_primary; }
  .postList_thumbnail { width:160px;margin-bottom:0.5em;padding-right:30px; display:block; overflow:hidden;float:left;
    a { position: relative;display:block; overflow:hidden;border:1px solid #e5e5e5; }
    img { width: 100%;height:auto;border:1px solid #fff; }
    .postList_cateLabel {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  .media-body {
    .media-heading { font-size:20px;line-height:1.4em;margin-top:0; margin-bottom:0.4em;font-weight: normal;
      /* Begin heading style reset */
      background: none;box-shadow: none;padding: 0;
      /* End heading style reset */
      a { color:$color_font_default;
        &:hover { text-decoration: none; }
      }
    }
    p { margin-bottom:0;font-size:14px; line-height:150%; }
    .entry-meta_updated { display: none; }
    .entry-meta_items_author { display: none; }
    a.media-body_excerpt { color:$color_font_default; }
  }
}
@media (max-width: 767px){
.media {
  .postList_thumbnail { padding-right:20px; }
  .media-body {
    .media-heading { font-size:1.2em;line-height:1.3em; margin-bottom:0.5em; }
    } // .media-body
  } // .media
} // @media (max-width: 767px){
@media (max-width: 500px){
.media {
  .postList_thumbnail { width:100px; }
  } // .media
} // @media (max-width: 767px){

/*-------------------------------------------*/
/* .pagination
/*-------------------------------------------*/
.pagination { margin-bottom:0; }
ul.page-numbers { margin:0;padding: 0;
  li { margin:0;list-style: none; display:block; overflow:hidden;float:left;
    a,
    span.page-numbers { padding: 6px 12px;display: block;border:1px solid #ddd;margin-left: -1px; }
    a:hover { text-decoration: none; }
    &:first-child a {margin-left:0;}
    a:hover { background-color: #efefef; }
    span.page-numbers.current { color:#fff;background-color: $color_key; }
    &:first-child > a { border-top-left-radius:4px;border-bottom-left-radius:4px; }
    &:last-child > a { border-top-right-radius:4px;border-bottom-right-radius:4px; }
  }
}

/*-------------------------------------------*/
/* .page-link
/*-------------------------------------------*/
.page-link{
  dl { display:block; overflow:hidden;margin-bottom:0; }
  dt,dd { border:none; padding: 0;margin-bottom:0; }
  dt { padding: 6px 10px 6px 0; float:left; }
  span.page-numbers { padding: 6px 12px;display: block;float:left; }
}
/*-------------------------------------------*/
/* .pager
/*-------------------------------------------*/
.pager ul { margin-top:0;}
.pager li { margin-bottom:10px;display: inline-block;
  & > a { border-radius:0;padding:7px 15px 5px; }
}
// @media (max-width: 767px){
.pager li { display: block; overflow:hidden;float:none;
  a { display:block; overflow:hidden;float:none;width: 100%; text-align: left; }
  &.previous a:before{ content:"«";margin-right:0.8em; }
  &.next a:before{ content:"»";margin-right:0.8em; }
} // .pager li

/*-------------------------------------------*/
/* .subSection
/*-------------------------------------------*/
.subSection { display:block;
  .widget { margin-bottom:25px; }
  .media { padding:1em 0 0.8em;margin-top:0;
    .postList_thumbnail { width:80px;padding-right:15px; }
    .media-heading { font-size:14px; }
  }
  li > a:hover { text-decoration: underline; }
  li.current-cat > a,
  li.current_page_item > a { background-color: rgba(0,0,0,0.05); }
}
.subSection:after {
    content: "";
    clear: both;
    display: block;
}
.subSection-title { font-size:18px;margin-bottom:15px; }
.subSection-title i { margin-right:8px; }

/*-------------------------------------------*/
/* Widget
/*-------------------------------------------*/
.widget { display:block;

  .subSection-title { 
    margin-top:0;
    font-size:18px; 
    a{
      color: inherit;
		}
  }
  ul { margin-top:0; }
}
.widget:after {
    content: "";
    clear: both;
    display: block;
  }

// .widget_text .subSection-title,
// .widget_tag_cloud .subSection-title,
// .widget_recent_comments .subSection-title { margin-bottom:15px; }

/* .widget_link_list はプラグインなどの外部ウィジェットからの指定用。
.widget と同列で書かれる時もあれば下階層に書かれる事もある。ExUnitの固定ページリストウィジェットなどで使用 */
.widget_link_list,
.widget_recent_comments,
.widget_nav_menu,
.widget_archive,
.widget_categories,
.widget_pages,
.widget_recent_entries {
  ul { padding-left:0;margin:0;font-size:14px;list-style: none; }
}

.widget_link_list,
.widget_nav_menu,
.widget_archive,
.widget_categories,
.widget_pages,
.widget_recent_entries {
  .subSection-title { margin-bottom:0; }
  ul {
    // li { display:block; overflow:hidden; list-style: none;
    //   a { position: relative;padding: 10px 15px;border-bottom:$border_primary; }
    // }
    li { margin-bottom:0; }
    li a { display:block; padding:10px 0.5em 8px;border-bottom:$border_primary;color:$color_font_default;
      box-shadow:0px 1px 0px rgba(255,255,255,0.9); }
    li li a { padding-left:1.5em; }
    li li li a { padding-left:2.5em; }
    li li li li a { padding-left:3.5em; }
    li li li li li a { padding-left:4.5em; }
    li li li li li li a { padding-left:5.5em; }
    li li li li li li li a { padding-left:6.5em; }
    li li li li li li li li a { padding-left:7.5em; }
    li li li li li li li li li a { padding-left:8.5em; }
    li li li li li li li li li li a { padding-left:9.5em; }
    li li li li li li li li li li li a { padding-left:10.5em; }
    ul { margin:0;padding-left:0; }
  }
}

.widget_archive,
.widget_categories {
   select { margin-top:10px; }
}

.widget_vkexunit_post_list .mainSection-title,
.widget_ltg_adv_post_list .pt_0 .mainSection-title { margin-bottom:0; }

.widget_ltg_adv_full_wide_title_outer, .widget_ltg_full_wide_title_outer {
  text-align: center;
  background-size: cover;
  background-position:center center;
}
.widget_ltg_adv_full_wide_title_title, .widget_ltg_full_wide_title_title {
  font-size:2.4rem;
  @media ( min-width: 768px ){ font-size:2.8rem; }
  @media ( min-width: 1200px ){ font-size:3.2rem; }
  padding:0;
  margin-bottom: 0.3em;
  line-height: 1.4em;
  background:none;
  border:none;
}
.widget_ltg_adv_full_wide_title_title:last-child, .widget_ltg_full_wide_title_title:last-child {
  margin-bottom: 0;
}
.widget_ltg_adv_full_wide_title_caption, .widget_ltg_full_wide_title_caption {
  margin-bottom: 0;
  line-height: 1.4em;
}

/*      .tagcloud
/*-------------------------------------------*/
.widget .tagcloud a {
  border-radius: 4px; padding: 3px 10px 1px;
  line-height: 2.4em;
}

/* パララックスやページタイトル固定の時に透けないように */
.siteContent_after { position: relative; }

/*-------------------------------------------*/
/* footer
/*-------------------------------------------*/
footer {
  background-color: #f5f5f5;
  .footerMenu { border-top:$border_primary;border-bottom:$border_primary; }
  .copySection { border-top:$border_primary;
    p { font-size:12px;margin:0 15px 5px; }
  }
}
@media (max-width: 767px){
footer {
  .footerMenu {
    .container { padding-left:0; padding-right:0; }
    li { float:none;border-bottom:$border_primary;display:block; overflow:hidden; }
    li:last-child  { border-bottom:none; }
  }
}
}// @media (max-width: 767px){
@media (min-width: 768px){
footer {
  .footerMenu {
    ul { margin:10px 0; }
    li { float:left; }
    li a { border-left:1px solid #ccc;padding-top:0;padding-bottom:0; }
    li:last-child a { border-right:1px solid #ccc; }
  }
}
}

.sticky { display:block; overflow:hidden;padding:1em;background-color: #f5f5f5; }

/*-------------------------------------------*/
/* .archive
/*-------------------------------------------*/
.archive-header { margin-bottom:1em }
.archive-meta { margin-bottom:2em; }

/*-------------------------------------------*/
/* single
/*-------------------------------------------*/
#respond label { font-weight: lighter; }

/*-------------------------------------------*/
/* .comments-area
/*-------------------------------------------*/
.comments-title { line-height: 1.4em;font-size:24px; }
ol.comment-list { padding: 0;margin-top:0;}
li.comment { border:4px solid #eee; padding: 1em; margin:0 0 1em;list-style: none;
  ol.children { padding-left:1em;
    li.comment { border:none; }
  }
}
.comment-author { display:block; overflow:hidden;margin-bottom:10px;padding: 7px; background-color: #f5f5f5;border:4px solid #eee; }
.comment-meta { display:block; overflow:hidden;border-bottom:$border_primary;margin-bottom:10px; }
li.pingback { margin:0 0 1em;list-style:none;border-bottom:1px dotted #999; }
p.no-comments { background-color: #f3f3f3;border:1px solid #e5e5e5; text-align: center;padding: 2em; }

// theme check pass
.bypostauthor { color: $color_font_default; }

/*-------------------------------------------*/
/* search
/*-------------------------------------------*/
// form.searchform { margin:1em 0;
//   div { display: flex;
//     input[type=text]#s { width:64%;margin-right:2%; }
//     input[type=submit]#searchsubmit { float:right;width:34%; text-align: center;padding-left:2px;padding-right:2px; }
//   }
// }
// input#searchsubmit { vertical-align: top; }

/*-------------------------------------------*/
/* Widget .veu_prBlocks
/*-------------------------------------------*/
/* htmlに直接styleを書き込むので継承を弱くするために入れ子で書かない */
.prBlock {
  a{ color: #333;
    &:hover{ color: #333; text-decoration: none; }
  }
}
.prBlock_icon_outer { display: block; margin: 0 auto ; width: 80px; height: 80px; border-radius: 50%; position:relative;}
.prBlock_icon { position:absolute;font-size: 36px; top:50%;left:50%; transform: translateY(-50%) translateX(-50%); }
.prBlock_title{ margin-top:0.9em;margin-bottom: 0.7em; text-align: center; font-size: 18px; line-height: 1.4em; }
.prBlock_image{ position: relative; display: block; width: 120px; height:120px; margin: 0 auto;overflow:hidden;border-radius: 50%;text-indent:-9999px;
}
.prBlock_summary{ margin-bottom: 0.5em; text-align: center; font-size: 14px; line-height: 1.6em; }

@media screen and (max-width:992px){
.prBlock{ margin-bottom: 1.5em; }
}
