@charset "utf-8";
@charset "utf-8";

/**** CAUTION ************************

If you want to modify this file,
If this file included in plugin that, you don't modify this file.
Original file path is themes/lightning/design-skin/foundation/ that, please modify original files.

*************************************/

.gMenu {
	/*-------------------------------------------*/
	/*	only first
    /*-------------------------------------------*/
	& > li {
		float: left;
		&:before {
			position: absolute;
			left: 0;
			bottom: 0;
			content: "";
			width: 0;
			border-bottom: 1px solid $color_key_dark;
			transition: all 0.5s ease-out;
		}
		&.menu-item-has-children::after {
			transition: all 0.2s ease-out;
			content: "";
			position: absolute;
			padding: 0;
			bottom: -10px;
			left: 50%;
			transform: translateX(-50%);
			border: 10px solid transparent;
			z-index: 1000;
			opacity: 0;
			border-bottom-color: $g_nav_sub_bg_color;
		}

		.device-pc &.menu-item-has-children:hover::after,
		&.acc-parent-open::after {
			opacity: 1;
			bottom: 0; // 0じゃないとJPNのタブレットで横線が上に入る
		}

		&.acc-parent-close::after {
			opacity: 0;
		}
	}

	/*-------------------------------------------*/
	/*	2nd only
	/*-------------------------------------------*/
	& > li > ul {
		// The reason for upping it by 1px is that active-border runs off the drop-down menu..
		margin-top: -1px;
	}
	/*-------------------------------------------*/
	/*	2nd after
    /*-------------------------------------------*/
	ul {
		li {
			a {
				&:hover {
					background-color: $color_key;
				}
			}
		}
	}
}
