@charset "utf-8";
.sideSection-col-two,
.siteFooter {
	.veu_contact {
		.contact_txt {
			margin-bottom:0.8rem;
		}
		.contact_txt_tel {
			font-size:24px;
			white-space: nowrap;
		}
		.contact_txt_time {
			font-size:10px;
		}
		.contact_bt_txt {
			font-size:1.2rem;
		}
	}
}