@charset "utf-8";
@import "../../design-skin/foundation/_scss/variables";

.vk_post{
	&_taxonomy {
		&_title {
			border:$border_primary;
			min-width:8em;
			text-align: center;
			background-color: rgba(0,0,0,0.05);
			font-family: inherit;
		}
		&_terms a:hover {
			text-decoration: underline;
		}
	}
}