html,
body {
	font-family : 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}
.entry-title--post-type--page,
h2 {
    padding:0.5em 0;
    border-top:2px solid var(--vk-color-primary);
    border-bottom:1px solid var(--vk-color-border-hr);
}

h3,
.sub-section-title,
.site-footer-title {
	position: relative;
	border-bottom: 1px solid var(--vk-color-border);
    background: none;
    padding:0 0 0.5em;
	border-radius: 0;
}
h3:after,
.sub-section-title:after,
.site-footer-title:after {
	content: ".";
	line-height: 0;
	display: block;
	overflow: hidden;
	position: absolute;
	bottom: -1px;
	width: 30%;
	border-bottom: 1px solid var(--vk-color-primary);
}

h4 {
    padding: 0.5em;
    background-color: var(--vk-color-border-hr);
    border-radius: var(--vk-size-radius);
}

h5 {
    padding-bottom:0.5em;
    border-bottom:1px solid var(--vk-color-border-hr)
}

.wp-block-button__link {
	padding-top: calc( 0.6em + 2px );
	padding-bottom: calc( 0.6em + 2px );
}
.vk_button {
	margin-top:0;
}
.vk_button .vk_button_link.btn,
.wp-block-button.is-style-outline .wp-block-button__link {
	border-width: 1px;
	padding-top: 0.6em;
	padding-bottom: 0.6em;
}