@charset "utf-8";
.global-nav-list {
	/*-------------------------------------------*/
	/*	only first
    /*-------------------------------------------*/
	& > li {
		float: left;
		/* Class is necessarily to the * because class was added to many other class name that first class is not necessarily "current"  */
		&:hover,
		&[class*="current"]:where(:not(.menu-item-anchor)) {
			.global-nav-description{
				// 色をつけない Don't specific the color
				// ナビ背景が濃い時やナビ背景は薄いけどヘッダー背景が濃い時、ヘッダー透過の時などの処理がカオスになる。
				opacity: 1;
			}
			&:before {
				width: 100%;
			}
		}
		&:before {
			position: absolute;
			left: 0;
			bottom: 0;
			content: "";
			width: 0;
			border-bottom: 1px solid var(--vk-color-primary);
			transition: all 0.5s ease-out;
		}
		&.menu-item-has-children::after {
			transition: all 0.2s ease-out;
			content: "";
			position: absolute;
			padding: 0;
			bottom: -10px;
			left: 50%;
			transform: translateX(-50%);
			border: 10px solid transparent;
			z-index: 1000;
			opacity: 0;
			border-bottom-color: var(--vk-color-primary);
		}

		.device-pc &.menu-item-has-children:hover::after,
		&.acc-parent-open::after {
			opacity: 1;
			bottom: 1px;
		}

		&.acc-parent-close::after {
			opacity: 0;
		}
	}
	/*-------------------------------------------*/
	/*	2nd only
	/*-------------------------------------------*/
	& > li > ul.sub-menu {
		// The reason for upping it by 1px is that active-border runs off the drop-down menu..
		margin-top: -1px;

	}
	/*-------------------------------------------*/
	/*	2nd after
    /*-------------------------------------------*/
	ul {
		li {
			a {
				&:hover {
					background-color: var(--vk-color-primary);
				}
			}
		}
	}
}

body:not(.header_scrolled){
	.global-nav--text-layout--vertical {
		.global-nav-list > li{
			/* Right Border */
			&:before {
				left:unset;
				bottom:unset;
				border-bottom: none;
				border-right: 1px solid var(--vk-color-primary);
				top:14px;
				right:0;
				height:0;
			}
			&.menu-item-has-children:hover::after,
			&.acc-parent-open::after {
				bottom:0;
			}
		}
	}
	&.device-pc {
		.global-nav--text-layout--vertical {
			.global-nav-list > li{
				&:hover,
				&[class*="current"]{
					&:before {
						height:calc( 100% - 14px - 14px );
					}
				}
			}
		}
	}
	&.device-mobile {
		.global-nav--text-layout--vertical {
			.global-nav-list > li{
				&.acc-parent-open,
				&[class*="current"]{
					&:before {
						height:calc( 100% - 14px - 3em );
					}
				}
			}
		}
	}
}