@charset "utf-8";

/**
* public page css
*/

@import "variables";
@import "global-nav-effect";
@import "common";

.site-header {
    background-color: #fff;
}
.page-header {
    color:#ffffff;
    background-color: var(--vk-color-primary);
}
.breadcrumb {
    border-top:1px solid var(--vk-color-border-hr);
    border-bottom:1px solid var(--vk-color-border-hr);
}

.site-footer {
    border-top:1px solid var(--vk-color-primary);
}
.footer-nav {
    border-bottom:1px solid var(--vk-color-border-hr);
    @media ( max-width: $sm-max ){
        border-bottom:none;
    }
}
.footer-nav-list{
	li:first-child{
		border-left:1px solid var(--vk-color-border);
	}
    li {
        border-right:1px solid var(--vk-color-border);
    }
    @media ( max-width: $sm-max ){
		li:first-child{
        	border-left:none;
		}
        li {
            border-right:none;
            border-bottom:1px solid var(--vk-color-border-hr);
        }
    }
}
