@charset "utf-8";

@import "global-nav-effect";

.site-header {
    background-color: #fff;
    box-shadow:0px 1px 3px rgba(0,0,0,0.05);
}
.page-header {
    border-bottom:1px solid var(--vk-color-border-hr);
}
.breadcrumb {
    border-bottom:1px solid var(--vk-color-border-hr);
}
.site-footer {
    border-top:1px solid var(--vk-color-border-hr);
    font-size:var(--vk-size-text-sm);
}
.footer-nav-list{
    li {
        border-right:1px solid var(--vk-color-border-hr);
        &:first-child {
            border-left:1px solid var(--vk-color-border-hr);
        }
    }
}

.list-nav {
    
}