@charset "utf-8";

@import "global-nav-effect";
@import "common";

.site-header {
    background-color: #fff;
    box-shadow:0px 1px 3px rgba(0,0,0,0.05);
}
.page-header {
    color:#ffffff;
    background-color: var(--vk-color-primary);
}
.breadcrumb {
    border-top:1px solid var(--vk-color-border-hr);
    border-bottom:1px solid var(--vk-color-border-hr);
}

.site-footer {
    border-top:1px solid var(--vk-color-primary);
}
.footer-nav {
    border-bottom:1px solid var(--vk-color-border-hr);
}
.footer-nav-list{
    li {
        border-right:1px solid var(--vk-color-text-body);
        &:first-child {
            border-left:1px solid var(--vk-color-text-body);
        }
    }
}

.tagcloud a{
    border:1px solid var(--vk-color-border-hr);
    padding: 2px 0.6em;
    margin-right:0.3em;
}