@charset "utf-8";


// @media (max-width: $lg-max) {
//     .siteHeader_logo {
//         width: 100%;
//         text-align: center;

//         img {
//             margin-left: auto;
//             margin-right: auto;
//         }
//     }
// }

.gMenu_outer {
    min-height: 4em; /* キャプション無し用 */
    display: table; /* キャプション無しの時に上下中央になるように */
    nav {
        display: table-cell;
		vertical-align: middle;
	}
}
@media (min-width: $xl-min) {
    .siteHeader_logo {
        float: left;
    }
    .gMenu_outer {
        right: 0;
        float: right;
        width: unset;
    }
    .gMenu {
        right: 0;
        margin: 0;
        float: right;
    }
}
