@charset "utf-8";

@import "variables";

$section-padding: 2rem;

.siteContent {
    padding: 1em 0 1.5em;

    @media (min-width: 768px) {
        padding: 3.5em 0 3.5em;
    }
}

.siteContent {
    padding: 3rem 0;

    .mainSection,
    .subSection {
        padding: $base-padding-xs;

        @media (min-width: $sm-min) {
            padding: $base-padding-sm;
        }

        @media (min-width: $md-min) {
            padding: $base-padding-md;
        }

        @media (min-width: $lg-min) {
            padding: $base-padding-lg;
        }
    }

    // ２カラムのlgサイズのみ左右の余白を小さく
    .sideSection-col-two {
        @media (min-width: $lg-min) {
            padding: $base-padding-lg 1rem;
        }

        @media (min-width: $xl-min) {
            padding: $base-padding-lg;
        }
    }

    & > .container > .row {
        margin: 0;
    }
}


/*-------------------------------------------*/
/* Full Wide Title Offset ( 安定したら別ファイルに分離 )
/*-------------------------------------------*/
.vk_outer-width-full,
.widget_ltg_full_wide_title_outer {
	margin: 0 - $base-padding-xs;
	padding: 2em $base-padding-xs;
	@media (min-width: $sm-min) {
		margin: 0 -$base-padding-sm;
		padding: 2em $base-padding-sm;
	}
	@media (min-width: $md-min) {
		margin: 0 -$base-padding-md;
		padding: 2em $base-padding-md;
	}
	@media (min-width: $lg-min) {
		margin: 0 - $base-padding-lg;
		padding: 2.5em $base-padding-lg;
	}
	@media (min-width: $xl-min) {
		margin: 0 - $base-padding-lg;
		padding: 3em $base-padding-lg;
	}
}
