@charset "utf-8";

/**** CAUTION ************************

If you want to modify this file,
If this file included in plugin that, you don't modify this file.
Original file path is themes/lightning/design-skin/foundation/ that, please modify original files.

*************************************/

/*-------------------------------------------*/
/*	下位展開ボタン
/*-------------------------------------------*/
.global-nav-list {
	.device-pc & {
		// Hide first level .acc-btn button when display terminal is PC
		& > li > .acc-btn {
			display: none;
		}
	} //.device-pc

	// PC (hover可能) のフォールバック
	// CDNキャッシュ等で body の device 判定が誤っても、PCでは第一階層の展開ボタンを非表示にする
	@media ( min-width: $lg-min ) and ( hover: hover ) and ( pointer: fine ),
		( min-width: $lg-min ) and ( any-hover: hover ) and ( any-pointer: fine ) {
		& > li > .acc-btn {
			display: none;
		}
	}
	&.vk-menu-acc {
		.sub-menu {
			.acc-btn {
				right: $menu_padding_horizontal;
			}
		}
	}

	.acc-btn {
		color: var(--vk-color-text-header);
		background-image: var(--g_nav_main_acc_icon_open_url);
		
		&.acc-btn-close {
			background-image: var(--g_nav_main_acc_icon_close_url);
		}
	}
	@media ( min-width: $lg-min ) and ( hover: none ),
		( min-width: $lg-min ) and ( any-hover: none ) {
		.device-mobile & {
			.acc-btn {
				width: 20px;
				height: 20px;
				right: 6px;
				top: 12px;
			}
		} //.device-mobile
	}
	.sub-menu {
		.acc-btn {
			background-image: var(--g_nav_sub_acc_icon_open_url);
			border:1px solid rgba(255, 255, 255, 0.8);
			&.acc-btn-close {
				background-image: var(--g_nav_sub_acc_icon_close_url);
			}
		}
	}
}
