@media ( min-width: $lg-min ){
    body:not(.header_scrolled) .global-nav--layout--float-right {
        display: flex;
        justify-content: flex-end;
        align-items: center; // 上下中央
    }
    .global-nav--layout--float-right {
      /*
      .global-nav の幅は 
      .site-header--layout--nav-float .site-header-logo の部分が
      幅100%でついているので押し込まれる形で最小サイズになるのでここでは特に指定していない
      と、思いきや Description があると無駄に広くなるので最小に指定
      */
      width:min-content;
    }
}

.global-nav--layout--center{
    width:auto;
    .global-nav-list {
        justify-content: center;
        width:min-content;
    }
}
.global-nav--layout--penetration {
    /* 
    100vwはWindowsでスクロールバーも含んで横スクロールバーが出てしまうので極力使用しない
    が、結局 calc(50% - 50vw); でも出てしまうので、bodyで overflow-x:hidden; している。
     */
    width:auto;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    clear: both;
    .global-nav-list {
        width:calc( var(--vk-width-container) - var(--vk-width-container-padding) * 2 );
        display: flex;
        margin-left:auto;
        margin-right:auto;
        & > li {
            width: 100%;
            border-right:1px solid var(--vk-color-border-hr);
            &:first-child{
                border-left:1px solid var(--vk-color-border-hr);
            }
        }
    }
}