.site-header {
    z-index: 1000;
    &-logo{
        img {
            max-height:60px;
        }
        display:block; overflow:hidden;
        margin-bottom:1rem;
    }
    &--center {
        .site-header-logo {
            margin:1rem auto;
            text-align: center;
            img {
                display: block;
                margin: 0 auto;
            }
        }
        .global-nav-list {
            // text-align: center;
            justify-content: center;
        }
    }
}