.site-footer {
    display:block; overflow:hidden;
    &-content {
        padding-top: var(--vk-margin-section-bottom);
    }
    &-copyright {
        padding:1rem;
        p {
            text-align: center;
            margin:0.5rem;
            font-size:var(--vk-size-text-xs);
        }
    }
}
.footer-nav {
    padding:0.6em;
    font-size:var(--vk-size-text-sm);
    li {
        padding :0 1.5em;
    }
}