.site-footer {
    --vk-size-text-sm : 12px;
    display:block; overflow:hidden;
    font-size:var(--vk-size-text-sm);
    content-visibility:auto;
    &-content {
        position: relative; // これがないとカスタマイズショートカットの位置調整が効かない
        padding-top: var(--vk-margin-section-bottom);

        & > .customize-partial-edit-shortcut{
            position: absolute;
            left:-30px;
        }
    }
    &-title{
        font-size: 1rem;
    }
    &-copyright {
        padding:1rem;
        p {
            text-align: center;
            margin:0.5rem;
            font-size:var(--vk-size-text-xs);
        }
    }
}
.footer-nav {
    padding:1em;
    line-height: 1;
    li {
        padding :0 1.5em;
    }
}