@charset "utf-8";
// Do not use sass that the path of the image shifts

// VK Components is no using image that using sass is no probrem.


/*-------------------------------------------*/
/*	customize-partial-edit-shortcut-button
/*-------------------------------------------*/
.mainSection > span > .customize-partial-edit-shortcut-button {
	margin-left: -2em;
}
.siteContent_after > span > .customize-partial-edit-shortcut-button {
	margin-left: 2em;
}
.footerWidget > span > .customize-partial-edit-shortcut-button {
	margin-left: -2em;
}

iframe {
	border: none;
}
/*-------------------------------------------*/
/*	calendar
/*-------------------------------------------*/
.wp-calendar-table {
	border-top-color: #e5e5e5;
	caption {
		caption-side: top;
		color: inherit;
	}
	th {
		font-weight: bold;
	}
	th,
	td {
		padding-left: 0;
		padding-right: 0;
		text-align: center;
		border-bottom-color: #e5e5e5;
	}
}
.wp-calendar-nav {
	margin: 0.7em 0 1.5em;
	display: flex;
	justify-content: space-between;
}

/*-------------------------------------------*/
/*	Download Manager
/*-------------------------------------------*/
.wpdm-download-link {
	margin-top: 5px;
}
.w3eden {
	margin-bottom:2rem;
	.media {
		padding:0;
		border:none;
		& > div {
			width:auto;
		}
	}
	.media-body {
		margin-right: 1em;
		margin-bottom: 0.5em;
		flex: unset;
	}
	.package-title:after {
		border: none;
	}
}
@media (max-width: 575.98px) {
	.w3eden {
		.media {
			display: block !important;
		}
		.link-template-default.thumbnail .wpdm-download-link.btn {
			display: block;
			margin-top: 10px;
		}
	}
}

/*-------------------------------------------*/
/*	Print
/*-------------------------------------------*/
@media print {
	#page_top {
		display: none !important;
	}
	.vk-mobile-nav-menu-btn,
	.vk-mobile-nav,
	.mobile-fix-nav {
		display: none;
	}
	a {
		text-decoration: none !important;
	}
	a[href]:after,
	abbr[title]:after {
		content: "" !important;
	}
}
