.nav,
nav {
    margin:0;
    padding:0;
    li {
        list-style: none;
        margin: 0;
        a {
            color: var(--vk-color-text-body);
            text-decoration: none;
        }
    }
}
.nav--line{
    li {
        display: inline-block;
    }  
}