.tagcloud a {
    &::before{
        margin-right:0.4em;
    }
	border-radius: var(--vk-size-radius-sm);
    padding: 3px 0 1px;
    margin-right:0.8em;
    font-size:var(--vk-size-text-xs) !important;
    white-space: nowrap;
    text-decoration: none;
}
.widget .tagcloud a {
    line-height: 2.4em;
}