:root{
    --vk-margin-list-menu-left-first:0;
    --vk-margin-list-menu-left:1em;
}

.widget{
    display: block;
    margin-bottom: var(--vk-margin-section-bottom);
    ul {
        padding-left:1.5em;
    }
    li {
        margin-top:0.8em;
        margin-top:0.8em;
    }
}

.widget:after {
	content: "";
	clear: both;
	display: block;
}

.widget_link_list > ul,
.widget_nav_menu > div > ul,
.widget_archive > ul,
.widget_categories > ul,
.widget_pages > ul,
.widget_postlist > ul,
.widget .localNavi, 
.localNavi {
    border-top:1px solid var(--vk-color-border-hr); 
    padding: 0;
    margin:0;
    ul {
        padding: 0;
        margin:0; 
    }
    li {
        list-style: none;
        margin: 0;
        font-size: var(--vk-size-text-sm);
        a {
            display:block;
            padding-top: 0.7em;
            padding-bottom: 0.7em;
            padding-left: var(--vk-margin-list-menu-left-first);
            border-bottom:1px solid var(--vk-color-border-hr); 
            text-decoration: none;
            // &:hover{
            //     background-color: var(--vk-color-accent-bg);
            // }
        }
        &.current-cat > a,
        &.current_page_item > a {
            background-color: var(--vk-color-accent-bg);
        }
    }
    li li a {
        padding-left: calc( var(--vk-margin-list-menu-left-first) + var(--vk-margin-list-menu-left) );
    }
    li li li a {
        padding-left: calc( var(--vk-margin-list-menu-left-first) + var(--vk-margin-list-menu-left) * 2 );
    }
    li li li li a {
        padding-left: calc( var(--vk-margin-list-menu-left-first) + var(--vk-margin-list-menu-left) * 3 );
    }
    li li li li li a {
        padding-left: calc( var(--vk-margin-list-menu-left-first) + var(--vk-margin-list-menu-left) * 4 );
    }
    li li li li li li a {
        padding-left: calc( var(--vk-margin-list-menu-left-first) + var(--vk-margin-list-menu-left) * 5 );
    }
    li li li li li li li a {
        padding-left: calc( var(--vk-margin-list-menu-left-first) + var(--vk-margin-list-menu-left) * 6 );
    }
    li li li li li li li li a {
        padding-left: calc( var(--vk-margin-list-menu-left-first) + var(--vk-margin-list-menu-left) * 7 );
    }
}

.widget_archive,
.widget_categories {
	select {
		margin-top: 10px;
	}
}
.widget_recent_entries{
    .post-date {
        display:block; overflow:hidden;
        font-size:var(--vk-size-text-xs);
    }
}
