// editor only

/* メインのカラム幅 */
// .editor-block-list__layout > .wp-block,
.wp-block {
	display: block;
	width: calc(100% - 2rem);
	max-width: 1110px;
}

@media (min-width: 600px) {
	.block-editor-block-list__layout
		.block-editor-block-list__block[data-align="full"] {
		max-width: calc(100% + 46px + 46px);
		width: calc(100% + 46px + 46px);
		margin-left: -46px;
		margin-right: -46px;
	}
}
@media (min-width: 600px) {
	.block-editor-block-list__layout
		.block-editor-block-list__block[data-align="wide"] {
		max-width: 100%;
		width: 100%;
	}
}

.editor-styles-wrapper{
	.wp-block-latest-posts{
		&__featured-image{
			margin-bottom:1em;
		}
		&.is-grid{
			margin-left:-8px;
			margin-right: -8px;
			li{
				margin:0px 8px 16px 8px;
				border-bottom: none;
			}
		}
	}
}
