// editor only

/* メインのカラム幅 */

// .editor-block-list__layout > .wp-block,
.wp-block {
	// display: block; // display: block;を指定してしまうと メディアと文章ブロックで display:grid; が効かなくなる
    max-width: var(--vk-width-container);
	// WP 5.5 以降 標準ボタンブロックで複数配置 したときに外側と出力HTMLが異なってセンター揃えにならない
	&[data-align=center]{
		text-align: center;
	}
}
.is-sidebar-opened {
    .editor-styles-wrapper { // .wp-block の前にclassがあると .editor-styles-wrapper が自動的につかないため
        .wp-block {
            max-width: calc( var(--vk-width-container)  - 280px );
        }
    }
}

.wp-block-table {
	thead {
		border:none;
    }
}

@media (min-width: 600px) {
	.block-editor-block-list__layout
		.block-editor-block-list__block[data-align="full"] {
		max-width: calc(100% + 46px + 46px);
		width: calc(100% + 46px + 46px);
		margin-left: -46px;
		margin-right: -46px;
	}
}
@media (min-width: 600px) {
	.block-editor-block-list__layout
		.block-editor-block-list__block[data-align="wide"] {
		max-width: 100%;
		width: 100%;
	}
}

.wp-block-latest-posts{
    margin-left:auto;
    margin-right:auto;
    &.is-grid{
        margin-left:auto;
        margin-right:auto;
    }
}
.block-editor-block-list__layout{
    .wp-block[data-align=full]{ //「全幅」ブロックの幅
        width: calc(100% - -20px);
        max-width: 100vw;
    }
}
.wp-block-search .wp-block-search__button{
    background-color: #007bff;
}
