@charset "utf-8";

h2,
.mainSection-title {
	padding: 0.8em 0 0.7em;
	border-top: 2px solid $color_key;
	border-bottom: 1px solid #e9e9e9;
}

h3,
.subSection-title {
	padding-bottom: 8px;
	position: relative;
	border-bottom: 1px solid #ccc;
}

h3:after,
.subSection-title:after {
	content: ".";
	line-height: 0;
	display: block;
	overflow: hidden;
	position: absolute;
	bottom: -1px;
	width: 30%;
	border-bottom: 1px solid $color_key;
}
