@charset "utf-8";
@import "variables";

.siteHeadContainer {
	// display: flex;
}
.siteHeadContainer::after {
	content:"";
	display: block;
  clear: both;
}

$menu_padding_vertical:14px;
$menu_padding_holizontal:14px;
$menu_bg_color:#333;
$time_transition:0.1s;

.gMenu_outer {
	position: relative;
	width: 100%;
}
.gMenu {
	margin :0 auto;
	padding:0;
	list-style: none;
	position: relative;
	a {
		color:#333;
		&:hover {
				text-decoration: none;
		}
	}
	li {
		line-height: 1.2;
		font-size:14px;
	}
	/* only first */
	& > li {
		text-align: center;
		list-style: none;
		position: relative;
		// PC端末の場合
		.device-pc & {
			// 第一階層メニューのみ下階層展開ボタンを隠す
			& > .acc-btn {
				display: none;
			}
			// a タグに対して余白をつける
			& > a {
				display:block; overflow:hidden;
				// PC端末時は下階層展開ボタンを表示しないので左右余白小さめ
				padding: $menu_padding_vertical 1.8em;
			}
		}
		// モバイル端末の場合
		// li タグに対して余白をつける
		// モバイル端末の場合は下階層展開ボタンを表示するので、
		// 展開ボタンの押し間違えですぐにページ遷移してしまうため、
		// liに余白をつけて、リンク対象は文字部分だけにする
		.device-mobile & {
			padding: $menu_padding_vertical 2.1em;
		}
		&:hover,
	  &.current-post-ancestor,
	  &.current-menu-item,
	  &.current-menu-parent,
	  &.current-menu-ancestor,
	  &.current_page_parent,
	  &.current_page_ancestor {
			transition: all 0.5s ease-out;
			background-color: rgba(0,0,0,0.05);
		}
		&.menu-item-has-children::after{
			transition: all $time_transition ease-out;
			content: '';
			position: absolute;
			padding: 0;
			bottom: -10px;
			left: 50%;
			transform: translateX(-50%);
			border: 10px solid transparent;
			border-bottom-color: $menu_bg_color;
			z-index: 1000;
			opacity: 0;
		}
		.device-pc &:hover > .sub-menu{
			opacity: 1;
			max-height:1000px;
		}
		.device-pc &.menu-item-has-children:hover::after,
		&.acc-parent-open::after{
			opacity: 1;
			bottom: -1px;
		}
		&.acc-parent-close::after{
			opacity: 0;
		}
		/* only second */
		& > ul {
			left:0;
			.device-mobile & {
				margin-top:$menu_padding_vertical;
			}
		}
	 }
	 /* 2nd after */
	 ul {
		 min-width: 9em;
		 padding: 0;
		 margin:0;
		 li {
			 white-space: nowrap;
			 font-size:14px;
			 text-align: left;
			 background-color: $menu_bg_color;
			 a {
				 padding: $menu_padding_vertical 3em $menu_padding_vertical $menu_padding_holizontal;
				 border-top:1px solid rgba(255,255,255,0.2);
				 color:#fff;
				 &:hover {
					 background-color: $color_key;
					 transition: all 0.5s ease-out;
				 }
			 }

		 }

	 }
	 & > li {
		 float:left;
		 & > ul.sub-menu {
			 position: absolute;
			 z-index: 1000;
			 transition: all 0.3s ease-in;
		 }
	 }
}
.gMenu_description {
	display:block; overflow:hidden;
	font-size:0.8em;
	line-height: 1.4;
}
.gMenu {
	&.vk-menu-acc {
		.acc-btn{
			width:18px;
			height:18px;
			right:8px;
			top:$menu_padding_vertical;
		}
		.sub-menu {
			.acc-btn{
				top:$menu_padding_vertical;
				right:$menu_padding_holizontal;
				border-color:#fff;
				color:#fff;
				background-image: url(../images/vk-menu-acc-icon-open-white.svg);
			}
		}
	}
}
@media ( max-width: $md-max ){
	.gMenu_outer {
		display: none;
	}
}
@media ( max-width: $lg-max ){
	.gMenu_outer {
		text-align: center;
	}
	.gMenu{
		display:inline-block; overflow:visible;
	}
}

@media ( min-width: $xl-min ){
	.gMenu_outer {
		right:0;
		float:right;
		width: unset;
	}
	.gMenu{
		right:0;
		margin:0;
		float:right;
		& > li {
			font-size:16px;
		}
	}
}
/*-------------------------------------------*/
/* nav
/*-------------------------------------------*/
// nav { font-size:14px;
//   ul { margin-top:0; }
//   li { margin-bottom:0; }
//   i { margin-right:0.5rem; }
// }
//
// ul.gMenu {
//   a { display:block; overflow:hidden;text-decoration: none; }
//   ul { padding-left:0;width:auto;display: block;margin-bottom:0;
//     li { list-style-type: none;
//         a { display:block; overflow:hidden;padding: 10px 1em 10px 2em;width:auto; }
//         li a { padding-left:3em; }
//         li li a { padding-left:4em; }
//         li li li a { padding-left:5em; }
//     } // li
//   } // ul.sub-menu {
// } // ul.gMenu
//
// .gMenu_name { font-weight: normal; }
// .gMenu_description { display:block; overflow:hidden;font-size:10px; line-height: 14px; }
//
// @media (max-width: 991px){
//   .gMenu_outer { overflow:scroll;display: none; height: 20em;}
//   .gMenu_outer.itemOpen { display: block; }
//   .gMenu_outer.itemClose { display: none; }
//   .gMenu_description { display: none; }
//   ul.gMenu { margin-bottom:0;
//     a:hover,
//     a:active,
//     .current-menu-item > a { background-color:rgba(255,255,255,0.1); }
//   }
//
// }
// @media (min-width: 992px){
// .gMenu_outer.itemOpen,
// .gMenu_outer.itemClose { display: block; }
// .gMenu_name { text-align: center;display: block; }
// .gMenu_description { text-align: center; }
// ul.gMenu {
//   & >li { position: relative;float:left;
//     & > a { border-bottom:none; }
//   }
// } // ul.gMenu
// // sub-menu
// /*
// 幅が異なる第一階層のメニューの中心にサブメニューを表示させる
// まずは第一階層のメニューの中心が left:50%; なので、ここを基準にサブメニューを配置
// サブメニューの幅は240px固定とした場合、その分 サブメニューの li に対して半分の 120px 左にずらす事で、サブメニューが中心になる。
// 但し、この状態だと ul.sub-menu は第一階層の中心から右側に240pxなので、見えているサブメニューの右側に120px分存在しており、
// ここもhover対象となってしまうため、.sub-menu の幅は本来の240pxの半分の 120px が指定してある。
// このままだと、孫メニューも子メニューの中心からスタートしてしまうので、右側にずらすため240pxで指定している。
//  */
// ul.gMenu > li > ul.sub-menu { display:none;position: absolute;z-index: 1000;left:50%;width:120px;
//   li {
// 		width:240px;left:-120px;margin:0;display:block; overflow:visible; position: relative;
// 		list-style: none;
// 		box-shadow:1px 1px 3px rgba(0,0,0,0.2);
//     ul { margin-bottom:0;display:none;position: absolute;left:240px;top:0.8em;
// 			li { left:0; }
// 		}
//     a { padding-left:1.5em; }
//   }
// }
// ul.gMenu > li:hover > ul.sub-menu { display: block; }
// ul.gMenu > li li:hover > ul.sub-menu { display: block; }
// } // @media (min-width: 992px){
