@charset "utf-8";

// load variable
@import "variables_origin";
@import "../../foundation/_scss/variables";

// load foundation
@import "../../foundation/_scss/foundation_editor";

// load skin specific
@import "common_origin";
@import "vk_post_adjuster_origin";

.row {
	border: 1px dashed #ccc;
	margin: 0 2px;
}

body.wp-autoresize {
	padding: 15px !important;
}
