@charset "utf-8";

// load variable
@import "variables_origin";
@import "../../foundation/_scss/variables";

// load foundation
@import "../../foundation/_scss/foundation";
@import "../../foundation/_scss/layout/gmenu/_gmenu-effect-origin";
@import "../../foundation/_scss/layout/gmenu/_gmenu-layout-center-float";

// load skin specific
@import "common_origin";
@import "gmenu_origin";
@import "outer_origin";
@import "vk_post_adjuster_origin";
