@charset "utf-8";
// @import "compass";

$border_horizontal : 1px solid rgba(0, 0, 0, 0.15);

/*-------------------------------------------*/
/* search
/*-------------------------------------------*/
.widget_search form div,
.widget_display_search form div,
.widget_product_search form {
	input#s,
	input#bbp_search,
	input.search-field {
		border-radius: 4px;
	}
	input#searchsubmit,
	input#bbp_search_submit,
	button {
		border-radius: 4px;
	}
}


@media (max-width: 991px){
.headerTop {
  .headerTop .headerTop_tel_wrap { color:#464646; }
  ul { border-top: $border_horizontal; }
  ul a {
    color: #464646;
    border-bottom: $border_horizontal;
  }
}

ul.gMenu { border-top:$border_horizontal }
ul.gMenu a { border-bottom:$border_horizontal; }

} // @media (max-width: 991px){

@media (min-width: 992px){
ul.gMenu { float:right;
  & > li {
    & > a { border-bottom:none; }
  }
	& > li > a:after{
		position:absolute;
		left:0;
		overflow:hidden;
		content:".";
		line-height:0;
		bottom:0px;display:block;
		border-bottom:1px solid $color_key;
		width:0;
		// transition: all 0.3s ease-in;
	}
  & > li > a:hover:after,
  & > li.current-post-ancestor > a:after,
  & > li.current-menu-item > a:after,
  & > li.current-menu-parent > a:after,
  & > li.current-menu-ancestor > a:after,
  & > li.current_page_parent > a:after,
  & > li.current_page_ancestor > a:after {
		width:100%;
		// transition: all 0.3s ease-in;
	}
  // sub-menu
  & > li > ul.sub-menu li a {
  	background-color:#fff;
	&:hover { background-color: #f5f5f5; }
  }
} // ul.gMenu
} // @media (min-width: 992px){

/*-------------------------------------------*/
/* .page-header
/*-------------------------------------------*/
.page-header { background-color: $color_key;color: #fff; }

/*-------------------------------------------*/
/*	.breadSection
/*-------------------------------------------*/
.breadSection {
	border-bottom:1px solid #f3f3f3;
	.breadcrumb {
		li { line-height: 1.2; }
		a { color : $color_font_light; padding-bottom:2px; }
		a:hover { border-bottom:1px solid $color_font_light;  text-decoration: none;}
		padding:6px 15px;
		  & > li + li:before { content:"/" }
	}
}

/*-------------------------------------------*/
/* .siteContent
/*-------------------------------------------*/
.siteContent {
	padding:1.5em 0 1.5em;
}
// @media ( min-width: 576px ){ .siteContent { padding:1.5em 0 1.5em; } }
@media ( min-width: 768px ){ .siteContent { padding:2.5em 0 2.5em; } }
@media ( min-width: 992px ){ .siteContent { padding:3em 0 3em; } }
@media ( min-width: 1200px){ .siteContent { padding:3.5em 0 3.5em; } }

/*-------------------------------------------*/
/* Widget
/*-------------------------------------------*/

.widget_ltg_adv_full_wide_title_outer, .widget_ltg_full_wide_title_outer {
  margin:0 calc(50% - 50vw) 3em;
  padding:3em calc(50vw - 50%);
}

/*-------------------------------------------*/
/* footer
/*-------------------------------------------*/
footer { border-top:3px solid #337ab7; }

.single h1.entry-title:first-letter { color:$color_key; }

/*-------------------------------------------*/
/*      .tagcloud
/*-------------------------------------------*/
.widget .tagcloud a {
  border:1px solid rgba( 0,0,0,0.1 );
  background-color: rgba( 255,255,255,0.9 );
}
footer.siteFooter .widget .tagcloud a {
  border:1px solid rgba( 0,0,0,0.1 );
  background-color: rgba( 255,255,255,0.8 );
}

/*-------------------------------------------*/
/*      .veu_sitemap
/*-------------------------------------------*/
.veu_sitemap {
	h4 {
		padding: 0.2em 1em;
		font-size:18px;
	}
	h5 {
		margin:1em 1em;
		padding:0 0 3px;
		font-size:18px;
	}
	a {
		color:$color_font_default;
	}
	& > ul {
	}
	ul {
		margin-left:1em;
		padding-left:0;
		list-style: none;
		li {
			list-style: none;
		}
		& > li > a{
			position: relative;
			padding-left:1.2em;
			&:before {
				display: block;
				position: absolute;
				top:50%;
				left:0.5em;
				transform: translateY(-65%);
				font-size:10px;
				line-height: 1em;
				font-family: "メイリオ", Meiryo, sans-serif;
				content:"≫";
				margin-right:0.5em;
			}
		}
	}
}
