@charset "utf-8";
@import "compass";
@import "bootstrap.min";
@import "reset_bootstrap";
@import "common";
@import "nav_base";

$border_primary : 1px solid #e5e5e5; 
$color_font_default : #464646;
$color_key : #337ab7;


.sectionBox { padding-top:2em;padding-bottom:2em;display:block; overflow:hidden; }
.nav li a { color:$color_font_default; }
// .btn { border-radius: 0; }
.btn-default { background: none; }
.screen-reader-text { display: none; }

/*-------------------------------------------*/
/* .siteHeader
/*-------------------------------------------*/
.siteHeader { background-color: #fff;box-shadow:0px 1px 3px rgba(0,0,0,0.1);
  .headLogo.navbar-brand { height:auto;padding:0;margin:0;
    a { color:#333; }
    img { max-height: 45px; }
  }
  .navbar-toggle { border:1px solid #999;
    .icon-bar { border:1px solid #666; }
  }
}
/*
.containerでpaddingを調整しているのは headerはjsで高さを取得するのでpaddingが指定されていると都合が悪いため
*/
@media (max-width: 767px){
.siteHeader {
  .headLogo.navbar-brand { padding:0 15px; }
  .container { padding-top:5px;padding-bottom:5px; }
}
}// @media (max-width: 767px){
@media (min-width: 768px){
  .siteHeader { 
    .container { padding-top:20px;padding-bottom:20px; }
    .headLogo.navbar-brand { padding-top:0;
      img { max-height: 50px; }
    }
  }
} // @media (min-width: 768px){
/*-------------------------------------------*/
/* nav
/*-------------------------------------------*/
nav {
  ul { margin-top:0; }
  li { margin-bottom:0; }
  i { margin-right:0.5rem; }
}

ul.gMenu {
  a { display:block; overflow:hidden;border-bottom:$border_primary;color:#666;text-decoration: none; }
  a:hover { color:$color_key; }
  ul.sub-menu { padding-left:0;width:auto;display: block;
    li {
        a { display:block; overflow:hidden;padding: 1em 1em 1em 2em;width:auto; }
        li a { padding-left:3em; }  
        li li a { padding-left:4em; }
    } // li
  } // ul.sub-menu {
} // ul.gMenu
@media (max-width: 767px){
  ul.gMenu { border-top:1px solid #e5e5e5;margin-bottom:0;
    a:hover,
    a:active,
    .current-menu-item a { background-color:#fcfcfc; }
  }
}
@media (min-width: 768px){

ul.gMenu { margin-top:5px;
  a:hover,
  a:active { background-color:#fff;color: $color_key; }
  & >li { 
    &:first-child { border-left:1px dotted #ccc; }
    & > a { padding:10px 2.5em 5px;border-bottom:none;border-right:1px dotted #ccc;; }
  }
  & > li > a:hover:after,
  & > li.current-menu-item > a:after,
  & > li.current_page_parent > a:after,
  & > li.current-menu-ancestor > a:after,
  & > li.current_page_ancestor > a:after { content:".";line-height:0;border-bottom:1px solid $color_key; bottom:-1px;display:block; overflow:hidden; }
}
ul.gMenu ul.sub-menu { position: absolute;display:none; }
ul.gMenu li:hover ul.sub-menu { display: block;background-color: #fff;box-shadow:1px 1px 3px rgba(0,0,0,0.2);

  li { width:200px;
    a { padding-left:1em;
      &:hover { background-color: #f5f5f5; }
    }
    li a { padding-left:2em; }
    li li a { padding-left:3em; }
    li li li a { padding-left:4em }
  } // li
} // ul.gMenu li:hover ul.sub-menu
} //@media (min-width: 700px){


/*-------------------------------------------*/
/* .page-header 
/*-------------------------------------------*/
.page-header { margin-top:0;margin-bottom:0;padding-bottom:0; background-color: $color_key; }
.page-header__pageTitle { margin:15px 0 10px;font-size:22px;line-height: 1.1;color: #fff; }
@media (min-width: 768px){
  .page-header__pageTitle { margin:30px 0 25px;font-size:32px; }
}
/*-------------------------------------------*/
/* .breadSection
/*-------------------------------------------*/
.breadSection { border-bottom:$border_primary;
  .breadcrumb { margin-top:0;margin-bottom:0;
    li { margin-bottom:0; }
  }
}

/*-------------------------------------------*/
/* .siteContent
/*-------------------------------------------*/
.siteContent { padding:3em 0 4em;}

/*      site-main
/*-------------------------------------------*/
.site-main { padding-bottom:3em;
  header { position: relative;border-bottom:$border_primary; }
  header h1 { margin-top:0; }
  .postList { margin-bottom:1.5em; }
}
h1.entry-title:first-letter { color:$color_key; }
.entry-meta { margin-bottom:1em;padding-left:3px;
  .entry-meta-items { margin-right:1em; }
  .entry-meta-items-term { float:right;margin-right:0; }
  i { margin-right:5px; }
}

@media (max-width: 767px){
.entry-meta { 
  .entry-meta-items-term { float:none;display: block;margin-top:1em; }
}
}// @media (max-width: 767px){

@media (max-width: 767px){
h1.entry-title { font-size:26px; }
}
.entry-body { display:block; overflow:hidden;padding:2.5em 0; }
.page .entry-body {padding-top:0; }
.entry-tag { display:block; overflow:hidden;margin-bottom:2em;
  dl { margin-bottom:0; }
  dt { display:block; overflow:hidden;float:left;background-color: #666;color:#fff; font-size:10px; line-height: 1.1em;padding: 5px 10px;font-weight:lighter;margin-right:10px;border:none; }
  dd { display:block; overflow:hidden;font-size:12px;border:none;padding-left:0;
    a { display:inline-block;border:1px solid #e5e5e5;border-radius: 4px; padding: 3px 8px 1px;background-color: #f5f5f5;margin-right:0.6em;color:$color_font_default;
      &:before { font-family:FontAwesome;content:"\f02b";margin-right:5px; }
      &:hover { text-decoration: none;}
    }
  }
}

/*      .media(bootstrap)
/*-------------------------------------------*/
.media { border-bottom:$border_primary;padding:2em 0;margin-top:0;
  // &:first-child { border-top:$border_primary; }
  .postList__thumbnail { width:160px;margin-bottom:0.5em;padding-right:30px; display:block; overflow:hidden;float:left;
    a { position: relative;display:block; overflow:hidden; }
    img { width: 100%;height:auto; }
    .postList__cateLabel {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  .media-body { 
    .media-heading { font-size:1.8em;line-height:1.3em;margin-top:0; margin-bottom:0.5em;
      a { color:$color_font_default;
        &:hover { text-decoration: none; }
      }
    }
  }
}
@media (max-width: 767px){
.media {
  .postList__thumbnail { padding-right:20px; }
  .media-body { 
    .media-heading { font-size:1.2em;line-height:1.3em; margin-bottom:0.5em; }
    } // .media-body
  } // .media
} // @media (max-width: 767px){
@media (max-width: 500px){
.media {
  .postList__thumbnail { width:100px; }
  } // .media
} // @media (max-width: 767px){

/*-------------------------------------------*/
/* .page-numbers
/*-------------------------------------------*/
ul.page-numbers { margin:0;padding: 0;
  li { margin:0;list-style: none; display:block; overflow:hidden;float:left;
    a,
    span.page-numbers { padding: 6px 12px;display: block;border:1px solid #ddd;margin-left: -1px; }
    a:hover { text-decoration: none; }
    &:first-child a {margin-left:0;}
    a:hover { background-color: #efefef; }
    span.page-numbers.current { color:#fff;background-color: $color_key; }
    &:first-child > a { border-top-left-radius:4px;border-bottom-left-radius:4px; }
    &:last-child > a { border-top-right-radius:4px;border-bottom-right-radius:4px; }
  }
}

/*-------------------------------------------*/
/* .site-sub
/*-------------------------------------------*/
.subSection {
  .subSection-title { font-size:18px; }
  .media { padding:1em 0 0.8em;margin-top:0;
    .postList__thumbnail { width:80px;padding-right:15px; }
    .media-heading { font-size:14px; }
  }
}

/*-------------------------------------------*/
/* Widget
/*-------------------------------------------*/
.widget { margin-bottom:30px;display:block; overflow:hidden;
  .widget-title { margin-top:0; }
}

.widget_archive,
.widget_categories,
.widget_recent_entries {
  ul { padding-left:0;
    li { display:block; overflow:hidden; list-style: none;padding: 10px 15px;
      a { position: relative; }
    }
  }
}

/*-------------------------------------------*/
/* footer
/*-------------------------------------------*/
footer {
  border-top:3px solid #337ab7;
  background-color: #f5f5f5;
  .footerMenu { border-top:$border_primary;border-bottom:$border_primary; }
  .copySection { border-top:$border_primary; }
}

/*-------------------------------------------*/
/* front-page
/*-------------------------------------------*/
.carousel-inner>.item>a>img,
.carousel-inner>.item>img { width:100%; height:auto;}

.sticky { display:block; overflow:hidden;padding:1em;background-color: #f5f5f5; }

/*-------------------------------------------*/
/* .archive
/*-------------------------------------------*/
.archive-header { margin-bottom:1em }
.archive-meta { margin-bottom:2em; }

/*-------------------------------------------*/
/* single
/*-------------------------------------------*/
.pager ul { margin-top:0;}
.pager li { margin-bottom:10px;display: inline-block;
  & > a { border-radius:0;padding:7px 15px 5px; }
}
@media (max-width: 767px){
.pager li { display: block; overflow:hidden;float:none;
  a { display:block; overflow:hidden;float:none;width: 100%; text-align: left; }
  &.previous a:before{ content:"«";margin-right:0.8em; }
  &.next a:before{ content:"»";margin-right:0.8em; }
} // .pager li
} // @media (min-width: 768px){
@media (min-width: 768px){
.pager li.previous { float:left;
  a:before{ content:"«";margin-right:0.8em; }
}
.pager li.next { float:right;
  a:after{ content:"»";margin-left:0.8em; }
}
} // @media (min-width: 768px){

#respond label { font-weight: lighter; }