// editor only
// 本文部分はcontainerのpaddingの中なので、編集エリアのコンテナ幅には左右の padding:15px は持たせない
:root{
	--vk-width-editor-container-body:calc(100vw * 0.8);
	--vk-width-container-padding:15px;
	--vk-width-editor-sidebar:280px;
	--vk-width-editor-leftmenu:160px;
	--vk-width-editor-leftmenu-folded:36px;
}
.editor-styles-wrapper {
	padding: 0;
}

// Begin Cope with 6.1 Group Block ( If 6.4 Release, Delete this code. )
.editor-styles-wrapper .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
	--wp--style--global--content-size:var(--vk-width-editor-container-body);
}
// End Cope width 6.1 Group Block

.container {
	padding:0;
	max-width:var(--vk-width-editor-container-body);
	@media (min-width: 576px) {
		max-width:var(--vk-width-editor-container-body);
	}
	@media (min-width: 768px) {
		max-width:var(--vk-width-editor-container-body);
	}
	@media (min-width: 992px){
		max-width:var(--vk-width-editor-container-body);
	}
	@media (min-width: 1200px) {
		max-width:var(--vk-width-editor-container-body);
	}
}

.is-root-container,
.edit-post-visual-editor__content-area .editor-styles-wrapper .edit-post-visual-editor__post-title-wrapper > *, 
.edit-post-visual-editor__content-area .editor-styles-wrapper .block-editor-block-list__layout.is-root-container > * {
	width:var(--vk-width-editor-container-body);
	max-width:var(--vk-width-editor-container-body);
	margin-left:auto;
	margin-right:auto;
}

// 左管理メニュー非表示 / 右サイドバー非表示
body.is-fullscreen-mode .edit-post-layout:not(.is-sidebar-opened){
	--vk-width-editor-full:100vw;
	--vk-width-editor-wide:calc( var(--vk-width-editor-container-body) + (var(--vk-width-editor-full) - var(--vk-width-editor-container-body) ) / 2 );
	--vk-width-editor-wide-nega-margin:calc( ( var(--vk-width-editor-container-body) - 100vw ) / 4 );
}
// 左管理メニュー非表示 / 右サイドバー表示
body.is-fullscreen-mode .edit-post-layout.is-sidebar-opened{
	--vk-width-editor-full:calc( 100vw - 280px );
	--vk-width-editor-wide:calc( 100vw - 280px - ( ( 100vw - 280px ) * ( 1 - 0.8 ) / 2 ) );
	--vk-width-editor-container-body:calc(  ( 100vw - 280px ) * 0.8 - 30px );
}

// 左管理メニュー表示（ 展開 ） / 右サイドバー展開
body:not(.is-fullscreen-mode) .edit-post-layout.is-sidebar-opened{
	--vk-width-editor-container:calc( var(--vk-width-container) - var(--vk-width-editor-leftmenu) - var(--vk-width-editor-sidebar) );
	--vk-width-editor-container-body:calc(  ( 100vw - 280px - 160px ) * 0.8 - 30px );
	--vk-width-editor-full:calc( 100vw - var(--vk-width-editor-leftmenu) - var(--vk-width-editor-sidebar) );
	--vk-width-editor-wide:calc( var( --vk-width-editor-container-body ) + ( 100vw - var( --vk-width-editor-container-body ) - var(--vk-width-editor-leftmenu) - var(--vk-width-editor-sidebar) ) / 2 );
}
// 左管理メニュー表示（ 展開 ） / 右サイドバー非表示
body:not(.is-fullscreen-mode) .edit-post-layout:not(.is-sidebar-opened){
	--vk-width-editor-container:calc( var(--vk-width-container) - var(--vk-width-editor-leftmenu) );
	--vk-width-editor-container-body:calc( ( 100vw - 160px ) * 0.8 - 30px );
	--vk-width-editor-full:calc( 100vw - var(--vk-width-editor-leftmenu) );
	--vk-width-editor-wide:calc( var( --vk-width-editor-container-body ) + ( 100vw - var( --vk-width-editor-container-body ) - var(--vk-width-editor-leftmenu) ) / 2 );
}

// 左管理メニュー表示（ 縮小 ） / 右サイドバー非表示
body.folded:not(.is-fullscreen-mode) .edit-post-layout:not(.is-sidebar-opened){
	--vk-width-editor-container:calc( var(--vk-width-container) - var(--vk-width-editor-leftmenu-folded) );
	--vk-width-editor-full:calc( 100vw - var(--vk-width-editor-leftmenu-folded) );
	--vk-width-editor-wide:calc( var( --vk-width-editor-container-body ) + ( 100vw - var( --vk-width-editor-container-body ) - var(--vk-width-editor-leftmenu-folded) ) / 2 );
}
// 左管理メニュー表示（ 縮小 ） / 右サイドバー展開
body.folded:not(.is-fullscreen-mode) .edit-post-layout.is-sidebar-opened{
	--vk-width-editor-container:calc( var(--vk-width-container) - var(--vk-width-editor-leftmenu-folded) - var(--vk-width-editor-sidebar) );
	--vk-width-editor-full:calc( 100vw - var(--vk-width-editor-leftmenu-folded) - var(--vk-width-editor-sidebar) );
	--vk-width-editor-wide:calc( var( --vk-width-editor-container-body ) + ( 100vw - var( --vk-width-editor-container-body ) - var(--vk-width-editor-leftmenu-folded) - var(--vk-width-editor-sidebar) ) / 2 );
}

.wp-block.editor-post-title {
	max-width:var(--vk-width-editor-container-body);
}

/**
* 	normal block
* 	.is-root-container > .wp-blockを公開画面のコンテナとして考える
*/
.editor-styles-wrapper .is-root-container {
	.wp-block {
		max-width:var(--vk-width-editor-container-body);
	}
	> .wp-block {
		// 6.0 / theme.json あり / Evergreen のオフセット背景の時に左によってしまうため
		margin-left:auto;
		margin-right:auto;
	}
}

/*****

Editor div structure

* Image Block 
************************************

.wp-block[data-align=full]

* Gallery Block ( full and wide is same ) 
************************************

div[data-align=full]
	.wp-block[data-align=full]
		figure.alignfull

* Cover
************************************
.wp-block[data-align=full]
	.wp-block-cover
		div[class*="__inner-container"]


*/

html .edit-post-visual-editor :where(.editor-styles-wrapper) .block-editor-block-list__layout.is-root-container{

	// Outer Element : Full
	:is( .wp-block[data-align=full], .wp-block.alignfull, div[data-align=full], .vk_outer-width-full ) {
		box-sizing: border-box;
		width:var(--vk-width-editor-full);
		max-width:var(--vk-width-editor-full);

		// ! important をつけると vk_outer-paddingLR-use の中に全幅要素を配置した時 編集画面で表示が崩れる
		margin-left: calc( var(--vk-width-editor-container-body) / 2 - var(--vk-width-editor-full) / 2 );
		margin-right: calc( var(--vk-width-editor-container-body) / 2 - var(--vk-width-editor-full) / 2 );

	}

	// Outer Element : Wide
	:is( .wp-block[data-align=wide], .wp-block.alignwide, div[data-align=wide] ){
		width:var(--vk-width-editor-wide);
		max-width:var(--vk-width-editor-wide); // max-width も指定しておかないと上書きできない
		// ! important をつけると vk_outer-paddingLR-use の中に全幅要素を配置した時 編集画面で表示が崩れる
		margin-left: calc( ( var(--vk-width-editor-container-body) - var(--vk-width-editor-full) ) / 4 );
		margin-right: calc( ( var(--vk-width-editor-container-body) - var(--vk-width-editor-full) ) / 4 );
		.wp-block[data-align=wide]{
			margin-left: calc( ( var(--vk-width-editor-container-body) - var(--vk-width-editor-full) ) / 4 );
			margin-right: calc( ( var(--vk-width-editor-container-body) - var(--vk-width-editor-full) ) / 4 );
		}
		.alignwide{
			width:var(--vk-width-editor-wide);
			margin-left:auto !important;
			margin-right:auto !important;
		}
	}

	// __inner-container
	& > .wp-block[data-align=full],
	& > div[data-align=full],
	& > .wp-block[data-align=wide],
	& > div[data-align=wide]{
		& > .wp-block-group > *, // theme.json があると __inner-container のdiv は出力されなくなってしまうので & > .wp-block-group > * を追加
		& > div > div[class*="__inner-container"]{
			width:var(--vk-width-editor-container-body);
			max-width:var(--vk-width-editor-container-body);
			margin-left:auto;
			margin-right:auto;
		}
	}
	.vk_outer-width-full {
		&:not(:is(.vk_outer-paddingLR-zero,.vk_outer-paddingLR-use)) {
			.vk_outer_container {
				// max が 1140px 指定だったりするので広げる
				max-width:var(--vk-width-editor-container-body);
				padding-left:0;
				padding-right:0;
			}
			.block-editor-inner-blocks{
				max-width:var(--vk-width-editor-container-body);
			}
		}
		// Outer固有の微妙な余白使用
		&.vk_outer-paddingLR-use{
			.vk_outer_container{
				--vk-width-editor-container-body:calc(  100vw - var(--vk-width-editor-sidebar) -  var(--vk-width-editor-leftmenu) - 8em );
			}
			:is(.wp-block[data-align=full] ){
				width: auto;
				margin-left: calc(50% - var(--vk-width-editor-full)/2);
				margin-right: calc(50% - var(--vk-width-editor-full)/2);
				max-width: 100vw;
			}
			:is(.wp-block[data-align=wide] ){
				--vk-width-editor-wide : calc(var(--vk-width-editor-full) - 4em );
				width:calc(var(--vk-width-editor-full) - 2em );
				margin-left:-2em;
				margin-right:-2em;
			}
		}
		&.vk_outer-paddingLR-zero{
			:is(.wp-block[data-align=full],.wp-block[data-align=wide] ){
				margin-left:0;
				margin-right:0;
				width: 100%;
				max-width: 100%;
			}
		}
	}
}
