.vk_post_imgOuter_singleTermLabel {
    padding:0.7em 1.2em;
}
.card.card-noborder {
    border-radius: 0;
}

// メインセクション直下の投稿リストで1カラムの時だけ文字を大きくする
.main-section > .vk_posts,
.entry-body > .vk_posts{
    & > .vk_post-col-sm-12 {
        @media (min-width: $sm-min) {
            .vk_post_title {
                font-size: 16px;
            }
            .vk_post_excerpt {
                font-size: 14px;
            }
        }
    }
    & > .vk_post-col-md-12 {
        @media (min-width: $md-min) {
            .vk_post_title {
                font-size: 18px;
            }
            .vk_post_excerpt {
                font-size: 14px;
            }
        }
    }
    & > .vk_post-col-lg-12 {
        @media (min-width: $lg-min) {
            .vk_post_title {
                font-size: 18px;
            }
            .vk_post_excerpt {
                font-size: 14px;
            }
        }
    }
    & > .vk_post-col-xl-12 {
        @media (min-width: $xl-min) {
            .vk_post_title {
                font-size: 21px;
            }
            .vk_post_excerpt {
                font-size: 14px;
            }
        }
    }
    & > .vk_post-col-xxl-12 {
        @media (min-width: $xxl-min) {
            .vk_post_title {
                font-size: 26px;
            }
            .vk_post_excerpt {
                font-size: 14px;
            }
        }
    }
    & > .media {
        &.vk_post-col-sm-12 {
            @media (min-width: $sm-min) {
                padding: 1.5rem 0;
                &:first-child {
                    border-top: 1px solid var(--vk-color-border-hr);
                }
                .media-img {
                    margin-right: 1.4rem;
                }
            }
        }
        &.vk_post-col-lg-12 {
            @media (min-width: $lg-min) {
                padding: 1.8rem 0;
                .media-img {
                    margin-right: 1.8rem;
                }
            }
        }
    }
}
