*, ::before,::after{
	box-sizing: border-box;
}
html,
body {
	// overflow-x: hidden; がないとWindowsで 100vw がスクロールを含むので全幅で横スクロールが表示されてしまうため
	// overflow-x: hidden; で回避しているが極力 100vw は使わない方が望ましい
	// overflow-x: hidden; をつけると編集画面のブロックのツールバーの位置が変動するバグが以前あった。2021年7月で問題なければこの行のコメントは削除可
	overflow-x: hidden; 
}
html,
body {
	font-size: var(--vk-size-text);
	color:var(--vk-color-text-body);
	padding: 0;
	margin:0;
	font-family: 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	background-color: #fff; // カスタマイザでデフォルト#ffffffにしてもリセットしないと効かないため
}

@media (max-width: $md-max) {
	html,
	body {
		font-size: calc( var(--vk-size-text) * 0.875 );
	}
}

p,
ul,
ol,
table,
dl,
blockquote,
iframe {
	margin-bottom:var(--vk-margin-element-bottom);
}

a {
	text-decoration: none;
	color:var(--vk-color-text-link);
	&:hover {
		color: var(--vk-color-text-link-hover);
		text-decoration-color:var(--vk-color-text-link-hover);
	}
	p &,
	li &{
		text-decoration: underline;
		text-decoration-style: dotted;
		text-underline-offset:2px;
		text-decoration-color:rgba(0,0,0,0.3);
		text-decoration-thickness: 1px;
		&:hover {
			text-decoration: none;
		}
	}
}

p {
	line-height: var(--vk-line-height);
	margin-block-start:0;
}

ul,
ol,
dl,
table,
figure,
p {
	& + h1,
	& + h2,
	& + h3,
	& + h4,
	& + h5,
	& + h6{
		margin-top:2em;
	}
}

h1,h2,h3,h4,h5,h6 {
	margin-top:0;
	margin-bottom:var(--vk-margin-headding-bottom);
	line-height: var(--vk-line-height-low);
	a {
		text-decoration: none;
	}
}
h1 {
	font-size:2rem;
}
h2 {
	font-size:1.75rem;
}
h3 {
	font-size:1.5rem;
}
h4 {
	font-size:1.33rem;
}
h5 {
	font-size:1.2rem;
}
h6 {
	font-size:1.125rem;
}

li {
	margin-top:0.5em;
	margin-bottom:0.5em;
}

blockquote {
	margin:0;
	padding:1em 1.5em;
	border-left:1px solid var(--vk-color-primary);
	background-color: var(--vk-color-accent-bg);
}

img {
	height:auto;
	max-width: 100%;
}

i {
	margin-right: 0.4em;
}

hr {
	border:1px solid var(--vk-color-border-hr);
}

/* Reset iOS Style */
input[type="submit"],
input[type="button"] {
	-webkit-box-sizing: border-box;
	-webkit-appearance: button;
	appearance: button;
	&::-webkit-search-decoration {
		display: none;
	}
	&::focus {
		outline-offset: -2px;
	}
}
/* / Reset iOS Style */

input[type=text],
input[type=number],
input[type=email],
input[type=tel],
input[type=url],
input[type=date],
select,
textarea {
	border:1px solid var(--vk-color-border-form);
	border-radius: var(--vk-size-radius);
	padding:0.8em 1em;
	// bottomはすぐ下にキャプションつけたりする場合があるので若干余白をもたせた方が良いが、
	// 上部に余白をつけるとWooCommerceなどすぐとなりにボタンがある場合など段差ができるので上部に余白はつけない
	margin:0 0 0.5rem;
	width:100%;
}
input[type=file] {
	margin:0.5rem 0;
}
input[type=submit]{
	border:1px solid var(--vk-color-primary-dark);
	background-color:var(--vk-color-primary);
	color:#fff;
	padding: 0.8em 2em;
	border-radius: var(--vk-size-radius);
	&:hover {
		cursor: pointer;
		background-color:var(--vk-color-primary-dark);
	}
}
figure {
	margin:0;
}
table {
	border-top:1px solid var(--vk-color-border-hr);
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	th,td {
		border:1px solid var(--vk-color-border-hr);
		padding:0.5rem 1rem;
		font-size:var(--vk-size-text-sm);
	}
}
iframe {
	border: none;
}

dt {
	font-weight: bold;
	margin-bottom:0.5em;
}
dd {
	margin-left:0;
}