.customize-partial-edit-shortcut{
    z-index: 10000000;
}
.page-header span[class*="common"]{
    bottom:4em;
}
.page-header .customize-partial-edit-shortcut{
    bottom:7em;
    left:3em; /* 大きくするとコンテナ幅の下になって反応しなくなるので注意 */
}
.main-section .customize-partial-edit-shortcut-lightning_theme_options-layout-front-page > button {
    left:-4em;
}
.main-section .customize-partial-edit-shortcut-lightning_theme_options-section_base > button {
    left:-4em;
    top: 3em;
}
.sub-section .customize-partial-edit-shortcut.customize-partial-edit-shortcut-lightning_theme_options-sidebar_fix {
	top:-35px;
}
.ltg-slide .customize-partial-edit-shortcut button{
    left:3em;
}

// If this specific don't exist that become over flow hidden
.customize-partial-edit-shortcuts-shown .sub-section{
    content-visibility:unset;
}
.alert.widget-area-description {
	font-size:small;
	line-height: 1.7;
	margin-bottom:1.5em;
}