.main-section .customize-partial-edit-shortcut-lightning_theme_options-layout-front-page > button {
    left:-4em;
}
.main-section .customize-partial-edit-shortcut-lightning_theme_options-section_base > button {
    left:-4em;
    top: 3em;
}
.slide-main .customize-partial-edit-shortcut button {
    left:3em;
}