.page-header .customize-partial-edit-shortcut button {
    top:-1em;
    left:0.3em; /* 大きくするとコンテナ幅の下になって反応しなくなるので注意 */
    z-index: 10000000;
}
.page-header .customize-partial-edit-shortcut.customize-partial-edit-shortcut-vk_page_header-common-text_color button {
    top:-3em;
    left:0.3em; /* 大きくするとコンテナ幅の下になって反応しなくなるので注意 */
    z-index: 10000000;
}

.main-section .customize-partial-edit-shortcut-lightning_theme_options-layout-front-page > button {
    left:-4em;
}
.main-section .customize-partial-edit-shortcut-lightning_theme_options-section_base > button {
    left:-4em;
    top: 3em;
}
.slide-main .customize-partial-edit-shortcut{
    left:3em;
}