.site-header {
    background-color: #fff;
    box-shadow:0px 1px 5px rgba(0,0,0,0.1);
}
.page-header {
    border-bottom:1px solid var(--vk-color-border-hr);
}
.breadcrumb {
    border-bottom:1px solid var(--vk-color-border-hr);
}