$xs-max: 575.98px;
$sm-max: 767.98px;
$md-max: 991.98px;
$lg-max: 1199.98px;

$sm-min: 576px;
$md-min: 768px;
$lg-min: 992px;
$xl-min: 1200px;

:root {
    --vk-color-text-body : #444444;
    --vk-color-text-link : #0000cc;
    --vk-color-text-link-hover : #0000ff;
    --vk-color-text-header : #444444;
    --vk-color-border-hr : #efefef;
    --vk-color-primary : #c00;
    --vk-color-footer-bg : #f5f5f5;
    --vk-width-container : 1110px;
    --vk-margin-block-bottom : 2rem;
    --vk-margin-section-bottom : 4em;
    --vk-size-text: 16px;
    --vk-size-text-meta: 0.75rem;
    --vk-size-text-sm: 0.875rem;
    --vk-size-text-xs: 0.75rem;
    --vk-line-height: 1.7;
    --vk-line-height-low: 1.5;
}

  