@import 'custom-functions'; // bootstrap4 の abs() がビルド時にエラーにならないように上書き
@import "@bootstrap/functions";
@import "bootstrap_variables";
@import "@bootstrap/mixins";
@import "@bootstrap/utilities";
@import "@bootstrap/grid";
@import "@bootstrap/buttons";
@import "@bootstrap/card";
@import "@bootstrap/alert";
@import "@bootstrap/media";
// VK Components is no using image that using sass is no probrem.
@import "../../../vendor/vektor-inc/vk-component/src/assets/scss/vk-components.scss";
@import "variables";

@import "utils";
@import "block/block_width";
@import "block/block";
@import "block/block_width_editor";
@import "block/block_editor";

@import "components/nav";
@import "components/searchform";
@import "overwrite/vk-components";
@import "overwrite/button";
@import "overwrite/swiper";
@import "project/pagenation";

.editor-styles-wrapper {
	@import "common";
	@import "common-theme-json";
	font-family :  var(--wp--preset--font-family--system-font);
}

@import "common-editor";
@import "editor-meta-fields";

//common.scssで編集画面のCSSが打ち消されるので以下追加
.interface-interface-skeleton__sidebar{
    font-size: 13px;
}
.components-datetime__time-field-day-input[type=number],
.components-datetime__time-field-hours-input[type=number], 
.components-datetime__time-field-minutes-input[type=number] {
    width: 35px;
}
// カスタマイズ画面にまで公開の input が適用されて padding が余計についてしまうので調整
.wp-full-overlay-sidebar-content {
    input[type=date], input[type=email], input[type=number], input[type=tel], input[type=text], input[type=url], select, textarea {
        padding:.2em .5em;
    }
}

// 単位選択のプルダウン WP6.0調整上書き
.components-unit-control__select {
	margin-bottom:0;
}
// 長い単位に対応
.components-base-control .components-input-control__container select.components-unit-control__select {
	max-width: 38px;
	padding-left:0;
	padding-right:0;
}
.components-base-control .components-input-control__container input.components-input-control__input {
	padding-left:8px;
}

// URL入力欄のフォーム WP6.0調整上書き
input[type="text"].block-editor-media-placeholder__url-input-field{
	width:unset;
	margin:0;
	border-radius: unset;
	padding: 0.5em;
}

// フルスクリーンモードじゃない場合、「メニューを閉じる」の文字が大きくなるので補正
#adminmenu{
	.collapse-button-label {
		font-size:14px;
	}
}

html :where(.wp-block) {
	margin-top:0;
	margin-bottom:0;
}