// editor only
.editor-styles-wrapper {
	.editor-post-title {
		margin-bottom:1em;
	}
}
.edit-post-visual-editor .editor-styles-wrapper {
	kbd {
		background-color: var(--vk-color-accent-bg);
		border: 1px solid var(--vk-color-border-hr);
		color: var(--vk-color-text-body);
		border-bottom-width: 3px;
	}	
	.wp-block-table {
		thead {
			border:none;
			th.has-text-align-right {
				text-align: center;
			}
		}
	}
}

// 6.1 コアのボタンにデフォルトでテーマの色が当たらない対応打ち消し
.editor-styles-wrapper .wp-block-buttons {
	:where(.wp-block-button){
		&:not(.is-style-outline) .wp-block-button__link{
			background-color: var(--vk-color-primary);
		}
		// 6.6 editor-styles のbutton__linkを打ち消し
		&.is-style-outline .wp-block-button__link{
			color: inherit;	
		}
		.wp-block-button__link{
			border-radius: var(--vk-size-radius);
			font-size: 1rem;
		}
	} 
}

.wp-block-search .wp-block-search__button{
    background-color: var(--vk-color-primary);
}

/*
メインのCSSがパネル部分に干渉するので打ち消し
編集エリアだけに効くように .editor-styles-wrapper するのも良いが、
bodyなど除外してcssを生成するより編集関連のCSSを上書きした方が結局楽
*/

.components-panel,
.interface-complementary-area,
.edit-post-meta-boxes-area {
	font-size:14px;
    h2 {
        border:none;
    }
	h3,
    h4 {
		border:none;
		margin-top:1em;
		margin-bottom:0.5em;
        font-size:14px;
		&::before,
		&::after{
			border:none;
		}
    }
    a { 
        color:#666;
        text-decoration: dotted;
    }

}
table.CalendarMonth_table{
	th,td {
		padding: 3px;
		border-bottom:none;
	}
}

// WP6.3からwp-block-cover にoverflow: clip; がついて、中に幅広・全幅ブロックを設置しても見切れてしまうようになったため追加
.wp-block-cover:has( *  > :is( div [ data-align = Wide ]), div [ data-align = full ]){
	overflow: visible;
}