name: Build Check

on:
  push:
    branches:
      - master
      - develop
  pull_request:
    branches:
      - master
      - develop
      - ^feature/.+

jobs:
  buid_check:
    name: build test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: 10.x

    - run: cp assets/js/lightning.min.js lightning.min.js.before
    - run: cp assets/css/common.css common.css.before
    - run: cp assets/css/common_editor.css common_editor.css.before
    - run: cp assets/css/wp-embed.css wp-embed.css.before

    - run: cp library/bootstrap-4/css/bootstrap.css bootstrap4.css.before
    - run: cp library/bootstrap-3/css/bootstrap.css bootstrap3.css.before

    - run: cp design-skin/origin/css/style.css origin.style.css.before
    - run: cp design-skin/origin/css/editor.css origin.editor.css.before

    - run: cp design-skin/origin2/css/style.css origin2.style.css.before
    - run: cp design-skin/origin2/css/editor.css origin2.editor.css.before

    - run: cp plugin-support/woocommerce/css/woo.css woo.css.before

    - run: npm install -D

    # js forget compile check
    - name: build Javascript
      run: npm run build:script
    - run: diff assets/js/lightning.min.js lightning.min.js.before

    # common css forget compile check
    - name: build Common StyleSheet
      run: npm run gulp sass_common
    - run: diff assets/css/common.css common.css.before
    - run: diff assets/css/common_editor.css common_editor.css.before
    - run: diff assets/css/wp-embed.css wp-embed.css.before

    # sass_bs4
    - name: build Bootstrap StyleSheet
      run: npm run gulp sass_bs4
    - run: diff library/bootstrap-4/css/bootstrap.css bootstrap4.css.before
    - run: diff library/bootstrap-3/css/bootstrap.css bootstrap3.css.before

    # origin scss forget compile check
    - name: build Skin StyleSheet
      run: npm run gulp sass_skin
    - run: diff design-skin/origin/css/style.css origin.style.css.before
    - run: diff design-skin/origin/css/editor.css origin.editor.css.before

    # origin2 scss forget compile check
    - name: build Skin2 StyleSheet
      run: npm run gulp sass_skin2
    - run: diff design-skin/origin2/css/style.css origin2.style.css.before
    - run: diff design-skin/origin2/css/editor.css origin2.editor.css.before

    # woocommerce scsss forget compile check
    - name: build woocomeerce StyleSheet
      run: npm run gulp sass_woo
    - run: diff plugin-support/woocommerce/css/woo.css woo.css.before

  php_unit:
    name: php unittest
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: [7.2, 7.3, 7.4]
    services:
      mysql:
        image: mysql:5.7
        ports:
          - 3306
        env:
          MYSQL_ROOT_PASSWORD: wordpress
          MYSQL_DATABASE: wordpress
          MYSQL_USER: wordpress
          MYSQL_PASSWORD: wordpress
    steps:
    - uses: actions/checkout@v2
    - name: Cache multiple paths
      uses: actions/cache@v2
      with:
        path: vendor
        key: ${{ runner.os }}-php${{ matrix.php }}-${{ hashFiles('**/composer.lock') }}
    - name: Setup PHP ${{ matrix.php }}
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php }}
    - name: install npm scripts
      run: npm install
    - name: install composer packages
      run: ./node_modules/@wordpress/env/bin/wp-env run composer 'composer install'
    - run: ./node_modules/@wordpress/env/bin/wp-env start 
    - run: ./node_modules/@wordpress/env/bin/wp-env run phpunit 'phpunit -c /var/www/html/wp-content/themes/lightning/phpunit.xml.dist --verbose'
